appdirs==1.4.4
certifi==2025.11.12
cffi==2.0.0
cfgv==3.3.1
cloudpickle==3.1.2
colorama==0.4.6
distlib==0.4.0
filelock==3.20.0
future==1.0.0
gitdb==4.0.12
gitdb2==4.0.2
GitPython==3.1.45
gym==0.26.2
gym-notices==0.1.0
identify==2.6.15
importlib_metadata==8.7.0
importlib_resources==6.5.2
nes_py==8.2.1
nodeenv==1.9.1
olefile==0.47
opencv-python==4.7.0.72
packaging==25.0
pillow==12.0.0
pip==25.3
platformdirs==4.5.0
ply==3.11
pre_commit==4.4.0
pycparser==2.22
pyglet==1.5.21
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyYAML==6.0.3
scipy==1.15.2
setuptools==80.9.0
sip==6.14.0
six==1.17.0
smmap==5.0.2
smmap2==3.0.1
toml==0.10.2
tomli==2.3.0
tqdm==4.67.1
typing_extensions==4.15.0
ukkonen==1.0.1
virtualenv==20.35.4
wheel==0.45.1
zipp==3.23.0
lib-platform==1.2.10